<h1>ジョブリスト一覧</h1>
<% if user_signed_in? %>
  <%= link_to "登録画面へ", new_job_path %> 
  <% @jobs.each do |job| %>
    <p><%= job.name %>：<%= job.skill %>:<%= job.user.id %></p>  
  <% end %>
<% else %>
    <p>ログインしてください</p>
<% end %> 